body{
  margin: 0px;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: rgb(72, 175, 235);
  font-family: cursive;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 193, 59);
  padding: 20px;
  border: 6px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  box-shadow: -6px 12px 8px rgb(0,0,0, 0.3);
}

.input{
  margin: 10px;
  height: 30px;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(7, 192, 7);
  border-radius: 4px;
  text-align: center;
}

.submit{
  background-color: green;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: green;
  border-radius: 10px;
  text-align: center;
}

.submit:hover{
  background-color: darkgreen;
  cursor: pointer;
}